form {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 5px;
    & textarea {
        font-family: 'Inter', sans-serif;
    }
    & .formButton {
        font-family: 'Inter', sans-serif;
        border-radius: 7px;
        padding: 0.5em 1em;
        border: none;
        background-color: rgb(230, 144, 82);
        color: white;
    }
}