.map_container {
    height: 100vh;
    width: 100vw;
}

.loaderContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.834);
    z-index: 1;
    & .spinner {
        width: 64px;
        height: 64px;
        border: 8px solid;
        border-color: #3d5af1 transparent #3d5af1 transparent;
        border-radius: 50%;
        animation: spin-anim 1.2s linear infinite;
    }
}
@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
form {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 5px;
    & .formButton {
        font-family: 'Inter', sans-serif;
        border-radius: 7px;
        padding: 0.5em 1em;
        border: none;
        background-color: rgb(230, 144, 82);
        color: white;
    }
}


.navbar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    margin: 10px;
    gap: 10px;

    & .loginButton {
        font-family: 'Inter', sans-serif;
        border-radius: 7px;
        padding: 0.4em 1em;
        border: none;
        background-color: rgb(230, 144, 82);
        color: white;
        text-decoration: none;
    }
    & .signupButton {
        font-family: 'Inter', sans-serif;
        border-radius: 7px;
        padding: 0.4em 1em;
        border: none;
        background-color: rgb(82, 112, 230);
        color: white;
        text-decoration: none;
    }
}
