.map_container {
    height: 100vh;
    width: 100vw;
}

.loaderContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}

form {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 5px;
    & .formButton {
        font-family: 'Inter', sans-serif;
        border-radius: 7px;
        padding: 0.5em 1em;
        border: none;
        background-color: rgb(230, 144, 82);
        color: white;
    }
}
.updateButton {
    font-family: 'Inter', sans-serif;
    border-radius: 7px;
    padding: 0.5em 1em;
    border: none;
    background-color: rgb(230, 144, 82);
    color: white;
}


.navbar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    margin: 10px;
    gap: 10px;

    & .loginButton {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        line-height: 24px;
        border-radius: 7px;
        padding: 0.4em 1em;
        border: none;
        background-color: rgb(230, 144, 82);
        color: white;
        text-decoration: none;
    }
    & .signupButton {
        font-family: 'Inter', sans-serif;
        border-radius: 7px;
        padding: 0.4em 1em;
        border: none;
        background-color: rgb(82, 112, 230);
        color: white;
        text-decoration: none;
    }
}
