.map_container {
    height: 100vh;
    width: 100vw;
}

form {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.formButton {
    font-family: 'Inter', sans-serif;
    border-radius: 7px;
    padding: 0.5em 1em;
    border: none;
    background-color: rgb(230, 144, 82);
    color: white;
}
.loginButton {
    margin: 10px;
    font-family: 'Inter', sans-serif;
    border-radius: 7px;
    padding: 0.5em 1em;
    border: none;
    background-color: rgb(230, 144, 82);
    color: white;
}
.navbar {
    position: fixed;
    top: 0;
    right: 0;

}
.signupButton {
    margin: 10px;
    font-family: 'Inter', sans-serif;
    border-radius: 7px;
    padding: 0.5em 1em;
    border: none;
    background-color: rgb(82, 112, 230);
    color: white;
}